<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MyApp</title>
</head>
<body>
  <h1>My App</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error quibusdam, ipsam itaque veniam soluta illum eos odio optio unde quas est nesciunt molestiae quae totam ut eligendi rem fugiat ea illo voluptate dolore, nobis consectetur. Rem voluptatem cupiditate dolores ratione? Consequatur mollitia architecto, quaerat ad exercitationem pariatur ducimus dolorum adipisci expedita et rem voluptatibus nobis placeat! Iusto voluptate eveniet laudantium?</p>
</body>
</html>